<div class="w-full bg-gray-700 shadow-md">
  <section class="px-4 py-24 mx-auto max-w-7xl bg-gray-700">
    <h1 class="mb-3 text-3xl font-bold leading-tight text-center text-indigo-100 md:text-4xl">Trusted by 5200+, built by 17</h1>
    <p class="mb-16 text-lg text-center text-indigo-100">Organizations of all sizes trust Hellonext to manage customer feedback</p>
    <div class="grid grid-cols-2 gap-16 mb-16 text-center lg:grid-cols-6">
      <div class="flex items-center justify-center">
        <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png"
             srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
             data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
             class="block object-contain h-16" alt="Sport Diver" width="164" height="34">
      </div>
      <div class="flex items-center justify-center">
        <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png"
             srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 2x"
             data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 2x"
             class="block object-contain h-16" alt="Scuba Diver Life" width="144" height="58">
      </div>
      <div class="flex items-center justify-center">
        <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png"
             srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 2x"
             data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 2x"
             class="block object-contain h-16" alt="Scuba Diving" width="154" height="42">
      </div>
      <div class="flex items-center justify-center">
        <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png"
             srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 2x"
             data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 2x"
             class="block object-contain h-16" alt="International Business Times" width="146" height="60">
      </div>
      <div class="flex items-center justify-center">
        <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png"
             srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 2x"
             data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 2x"
             class="block object-contain h-16" alt="Mail Online" width="196" height="34">
      </div>
      <div class="flex items-center justify-center">
        <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png"
             srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
             data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
             class="block object-contain h-16" alt="Sport Diver" width="164" height="34">
      </div>
    </div>
  </section>
</div>
