<%= content_tag :div, nil, data: {controller: 'hello'} do %>
  <div class="btn btn-primary" data-action="click->hello#greet">Say Hello!!</div>
<% end %>
<h1 data-target="hello.heading">This is the home page</h1>
