<section class="max-w-7xl px-4 pt-24 pb-12 mx-auto">
  <div class="w-full mx-auto text-left md:w-11/12 xl:w-9/12 md:text-center">
    <h1 class="block pb-2 mb-5 text-4xl font-extrabold leading-none tracking-normal text-transparent md:text-6xl md:tracking-tight bg-clip-text bg-gradient-to-r from-green-400 to-purple-500">
      Simple, transparent pricing.
    </h1>
    <p class="px-0 mb-10 text-lg text-gray-500 md:text-xl lg:px-24">Pricing that works for companies of any size.</p>
  </div>
  <div class="w-full mx-auto xl:w-4/5">
    <div class="grid grid-cols-1 gap-16 lg:grid-cols-3 sm:gap-8">
      <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
        <div class="flex flex-col justify-between p-6 border-b border-gray-200">
          <p class="mb-1 text-lg font-semibold text-yellow-600">Take Flight</p>
          <p class="pb-0 my-2 font-mono text-4xl font-extrabold text-gray-900">$25</p>
          <p class="text-sm text-gray-500">Organization / month</p>
          <a href="#" class="w-full mt-6 btn btn-warning btn-lg">Get started for free &rarr;</a>
        </div>
        <ul class="flex flex-col flex-grow p-6 space-y-3">
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <span class="text-gray-700"> Unlimited feedback </span>
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="The person who manages the feedback for the product."
            >One manager</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="User is the person who submits the feedback. We are not counting the people who are upvoting features."
            >1000 submitters</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <span class="text-gray-700">Unlimited Private Boards</span>
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="User is the person who submits the feedback. We are not counting the people who are upvoting features."
            >Custom domains support</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="Support for German, French, Polish and more."
            >Multi-language Support</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="Manage your customer feedback at the comfort of your phone. On iOS and Android."
            >Free iOS and Android apps</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <span class="text-gray-700">3 Integrations</span>
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-yellow-600">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <span class="text-gray-700">New features every 14 days</span>
          </li>
        </ul>
      </div>
      <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
        <div class="flex flex-col justify-between p-6 border-b border-gray-200">
          <div>
            <div class="flex items-center justify-between">
              <p class="mb-1 text-lg font-semibold text-purple-700">Fly High</p>
              <span class="badge bg-primary-light text-primary">Most popular</span>
            </div>
            <p class="my-2 font-mono text-4xl font-extrabold text-gray-900">$50</p>
            <p class="text-sm text-gray-500">Organization / month</p>
          </div>
          <a href="#" class="w-full mt-6 btn btn-primary btn-lg">Get started for free &rarr;</a>
        </div>
        <ul class="flex flex-col flex-grow p-6 space-y-3">
          <li class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-purple-700">
              <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
            </svg>
            <span class="font-medium text-purple-700">Everything in Take Flight</span>
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-purple-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            Unlimited feedback
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-purple-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="The person who manages the feedback for the product."
            >10 manager</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-purple-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="User is the person who submits the feedback. We are not counting the people who are upvoting features."
            >7500 submitters</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-purple-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            <span>Unlimited Integrations</span>
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-purple-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>
            Humane support
          </li>
        </ul>
      </div>
      <div class="border-0 rounded-none shadow-none card sm:rounded-lg md:border">
        <div class="flex flex-col justify-between p-6 border-b border-gray-200">
          <div>
            <p class="mb-1 text-lg font-semibold text-pink-600">Enterprise</p>
            <p class="my-2 text-4xl font-bold text-gray-900">Custom</p>
            <p class="text-sm text-gray-500">Organization / month</p>
          </div>
          <a href="#" class="w-full mt-6 btn btn-light btn-lg">Initiate a chat &rarr;</a>
        </div>
        <ul class="flex flex-col flex-grow p-6 space-y-3">
          <li class="flex items-start">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-pink-600">
              <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" />
            </svg>
            <span class="font-medium text-pink-600">Everything in Fly High</span>
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-pink-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            Unlimited feedback
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-pink-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="The person who manages the feedback for the product."
            >Unlimited manager</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-pink-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="User is the person who submits the feedback. We are not counting the people who are upvoting features."
            >Unlimited submitters</span
            >
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-pink-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span class="text-gray-700">Unlimited Integrations</span>
          </li>
          <li class="flex items-start">
            <svg viewBox="0 0 20 20" fill="currentColor" class="flex-none w-4 h-4 mt-1 mr-2 text-pink-700">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
            </svg>

            <span
              class="text-gray-800 border-b-2 border-gray-500 border-dotted cursor-pointer"
              x-data="tooltip()"
              x-spread="tooltip"
              x-position="top"
              title="Access to developers to build custom features and changes for your enterprise."
            >Feature on-request</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<div class="bg-gray-800">
  <section class="px-4 py-24 mx-auto max-w-7xl bg-gray-800">
  <h1 class="mb-3 text-3xl font-bold leading-tight text-center text-gray-200 md:text-4xl">Trusted by 5200+, built by 17</h1>
  <p class="mb-16 text-lg text-center text-gray-200">Organizations of all sizes trust Hellonext to manage customer feedback</p>
  <div class="grid grid-cols-2 gap-16 mb-16 text-center lg:grid-cols-6">
    <div class="flex items-center justify-center">
      <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png"
           srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
           data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
           class="block object-contain h-16" alt="Sport Diver" width="164" height="34">
    </div>
    <div class="flex items-center justify-center">
      <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png"
           srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 2x"
           data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diver-life@3x.png 2x"
           class="block object-contain h-16" alt="Scuba Diver Life" width="144" height="58">
    </div>
    <div class="flex items-center justify-center">
      <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png"
           srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 2x"
           data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-scuba-diving@3x.png 2x"
           class="block object-contain h-16" alt="Scuba Diving" width="154" height="42">
    </div>
    <div class="flex items-center justify-center">
      <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png"
           srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 2x"
           data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-international-business-times@3x.png 2x"
           class="block object-contain h-16" alt="International Business Times" width="146" height="60">
    </div>
    <div class="flex items-center justify-center">
      <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png"
           srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 2x"
           data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-mail-online@3x.png 2x"
           class="block object-contain h-16" alt="Mail Online" width="196" height="34">
    </div>
    <div class="flex items-center justify-center">
      <img src="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png"
           srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
           data-srcset="//d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 1x, //d2cz0wk7mo1cab.cloudfront.net/img/logo-sportdiver@3x.png 2x"
           class="block object-contain h-16" alt="Sport Diver" width="164" height="34">
    </div>
  </div>
</section>
</div>
<footer class="flex flex-wrap justify-center bg-gray-900 p-6 text-white">
  <div class="flex flex-wrap mb-4 w-full">
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 ">
      <h3 class="text-3xl py-4">About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat.
      </p>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 pl-8">
      <h3 class="text-3xl py-4">Links</h3>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4 ">
      <h3 class="text-3xl py-4">Links</h3>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/4">
      <h3 class="text-3xl py-4">Subscribe</h3>
      <form action="#">
        <div class="mb-4">
          <input class="bg-gray-200 appearance-none border-2 border-gray-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500" id="inline-full-name" type="text" placeholder="Email">
        </div>
        <button class="bg-purple-500 hover:bg-purple-600 text-white font-bold py-2 px-4 rounded" type="submit">Submit</button>
      </form>
    </div>
  </div>
</footer>
<footer class="px-4 py-12 mx-auto max-w-7xl">
  <div class="grid grid-cols-2 gap-10 mb-3 md:grid-cols-3 lg:grid-cols-12 lg:gap-20">
    <div class="col-span-3">
      <a href="/" title="Go to Kutty Home Page">
        <svg class="w-auto h-6" width="86" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 335 93">
          <path
            d="M134.71 45.7599c1.32-1.44 2.67-2.94 4.05-4.5 1.44-1.56 2.82-3.09 4.14-4.59 1.32-1.56 2.55-3.03 3.69-4.41 1.2-1.38 2.22-2.58 3.06-3.6h15.93c-3.18 3.66-6.3 7.17-9.36 10.53-3 3.3-6.3 6.72-9.9 10.26 1.8 1.62 3.66 3.57 5.58 5.85 1.92 2.22 3.78 4.53 5.58 6.93 1.8 2.4 3.45 4.8 4.95 7.2 1.5 2.4 2.76 4.59 3.78 6.57h-15.39c-.96-1.56-2.07-3.27-3.33-5.13-1.2-1.92-2.49-3.81-3.87-5.67-1.38-1.92-2.85-3.75-4.41-5.49-1.5-1.74-3-3.21-4.5-4.41v20.7H121.3V8.31991l13.41-2.16V45.7599zM209.35 74.3799c-2.28.66-5.22 1.26-8.82 1.8-3.6.6-7.38.9-11.34.9-4.02 0-7.38-.54-10.08-1.62-2.64-1.08-4.74-2.58-6.3-4.5-1.56-1.98-2.67-4.32-3.33-7.02-.66-2.7-.99-5.67-.99-8.91v-26.37h13.41v24.75c0 4.32.57 7.44 1.71 9.36 1.14 1.92 3.27 2.88 6.39 2.88.96 0 1.98-.03 3.06-.09 1.08-.12 2.04-.24 2.88-.36v-36.54h13.41v45.72zM217.888 16.8699l13.41-2.16v13.95h16.11v11.16h-16.11v16.65c0 2.82.48 5.07 1.44 6.75 1.02 1.68 3.03 2.52 6.03 2.52 1.44 0 2.91-.12 4.41-.36 1.56-.3 2.97-.69 4.23-1.17l1.89 10.44c-1.62.66-3.42 1.23-5.4 1.71-1.98.48-4.41.72-7.29.72-3.66 0-6.69-.48-9.09-1.44-2.4-1.02-4.32-2.4-5.76-4.14-1.44-1.8-2.46-3.96-3.06-6.48-.54-2.52-.81-5.31-.81-8.37v-39.78zM254.279 16.8699l13.409-2.16v13.95h16.11v11.16h-16.11v16.65c0 2.82.48 5.07 1.44 6.75 1.02 1.68 3.03 2.52 6.03 2.52 1.44 0 2.91-.12 4.41-.36 1.56-.3 2.97-.69 4.23-1.17l1.891 10.44c-1.62.66-3.421 1.23-5.401 1.71s-4.409.72-7.289.72c-3.66 0-6.691-.48-9.091-1.44-2.4-1.02-4.32-2.4-5.76-4.14-1.44-1.8-2.459-3.96-3.059-6.48-.54-2.52-.81-5.31-.81-8.37v-39.78zM334.028 28.6599c-2.7 9.12-5.52 17.67-8.46 25.65-2.94 7.98-6.15 15.72-9.63 23.22-1.26 2.7-2.52 4.98-3.78 6.84-1.26 1.92-2.64 3.48-4.14 4.68-1.5 1.26-3.21 2.16-5.13 2.7-1.86.6-4.05.9-6.57.9-2.1 0-4.05-.21-5.85-.63-1.74-.36-3.18-.78-4.32-1.26l2.34-10.71c1.38.48 2.61.81 3.69.99 1.08.18 2.22.27 3.42.27 2.4 0 4.23-.66 5.49-1.98 1.32-1.26 2.43-3.03 3.33-5.31-3.06-6-6.12-12.72-9.18-20.16-3.06-7.5-5.94-15.9-8.64-25.2h14.22c.6 2.34 1.29 4.89 2.07 7.65.84 2.7 1.71 5.46 2.61 8.28.9 2.76 1.8 5.46 2.7 8.1.96 2.64 1.86 5.04 2.7 7.2.78-2.16 1.59-4.56 2.43-7.2.84-2.64 1.65-5.34 2.43-8.1.84-2.82 1.62-5.58 2.34-8.28.78-2.76 1.47-5.31 2.07-7.65h13.86z"
            fill="#1A202C"
            />
          <path
            d="M5.61825.4114C24.3953-2.95442 43.4551 21.1695 51.21 34.8757v29.6906c-4.8347 14.2497-12.952 19.1401-20.8473 19.362-12.7347.358-22.758-14.27-17.6881-25.9574 2.926-6.7451 8.905-10.1655 13.0016-11.2189C5.61473 45.9161.32294 23.2628.01461 7.98884-.05756 4.41366 2.09844 1.04233 5.61825.4114z"
            fill="#9E58E9"
            />
          <path
            d="M96.8018.4114C78.0247-2.95442 58.9649 21.1695 51.21 34.8757v29.6906c4.8347 14.2497 12.952 19.1401 20.8474 19.362 12.7346.358 22.7579-14.27 17.688-25.9574-2.9259-6.7451-8.905-10.1655-13.0015-11.2189 20.0614-.8359 25.3531-23.4892 25.6611-38.76316.073-3.57518-2.083-6.94651-5.6032-7.57744z"
            fill="#7629C8"
            />
        </svg>
        <span class="sr-only">Kutty Home Page</span>
      </a>
      <p class="my-4 text-xs leading-normal text-gray-500">
        Bring together your discussions, memberships, and content. Integrate a thriving community wherever your audience is, all under your own brand.
      </p>
      <label class="flex w-24">
        <span class="sr-only">Select a language</span>
        <select class="form-select form-select-sm">
          <option>English</option>
          <option>Tamil</option>
        </select>
      </label>
    </div>
    <nav class="col-span-1 md:col-span-1 lg:col-span-2">
      <p class="mb-3 text-xs font-semibold tracking-wider text-gray-400 uppercase">Product</p>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Features</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Integrations</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Documentation</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">FAQs</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Pricing</a>
    </nav>
    <nav class="col-span-1 md:col-span-1 lg:col-span-2">
      <p class="mb-3 text-xs font-semibold tracking-wider text-gray-400 uppercase">About</p>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Press-Kit</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Company</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Privacy</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Blog</a>
    </nav>
    <nav class="col-span-2 md:col-span-1 lg:col-span-2">
      <p class="mb-3 text-xs font-semibold tracking-wider text-gray-400 uppercase">Contact</p>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Twitter</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Instagram</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Email</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Advertising</a>
      <a href="#" class="flex mb-3 text-sm font-medium text-gray-800 transition md:mb-2 hover:text-primary">Chat</a>
    </nav>
    <div class="col-span-3">
      <p class="mb-3 text-xs font-semibold tracking-wider text-gray-400 uppercase">SUBSCRIBE TO OUR NEWSLETTER</p>
      <form action="#" class="mb-2">
        <div class="form-append">
          <input class="form-input form-input-sm" type="email" placeholder="Enter your email" />
          <button class="btn btn-light-primary btn-sm" type="submit">Subscribe</button>
        </div>
      </form>
      <p class="text-xs leading-normal text-gray-500">Get lessons and insights on how to grow your freelance business.</p>
    </div>
  </div>
  <div class="flex flex-col items-start justify-between pt-10 mt-10 border-t border-gray-100 md:flex-row md:items-center">
    <p class="mb-6 text-sm text-left text-gray-600 md:mb-0">
      &copy; <%= copyright_notice_year_range(2020) %> <%= link_to "Indux Media, INC.", "https://www.induxmedia.hr" %>  Sva prava pridržana.
    </p>
<!--    <p> © Copyright <%#= Time.zone.now.year %>. All Rights Reserved. </p>-->
    <div class="flex items-start justify-start space-x-6 md:items-center md:justify-center">
      <a href="#" class="text-sm text-gray-600 transition hover:text-primary">Terms</a>
      <a href="#" class="text-sm text-gray-600 transition hover:text-primary">Privacy</a>
    </div>
  </div>
</footer>

