/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub "active_admin"
 *= require leaflet
 */


/*


#gallery--custom-html-markup a {
  width: 100px;
  height: 100px;

  background-size: cover;
  background-position: 50% 50%;

  text-indent: -300px;
  overflow: hidden;
}
*/

// Specifying pswp__assets-path might not be needed - it depends on your webpack config
// Please read: https://github.com/rails/webpacker/blob/master/docs/css.md#resolve-url-loader
// for references regarding url resolver
$pswp__assets-path: 'photoswipe/src/css/default-skin/';
@import 'photoswipe/src/css/main';
@import 'photoswipe/src/css/default-skin/default-skin';
